@charset "UTF-8";
/*全体へのCSS*/
*{
    margin: 0px auto;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*一部共通のCSS*/

h2{
    font-size: 6rem;
    margin-bottom: 20px;
}
.wrapper{
    width: 1170px;
    text-align: center;
}
#navArea{
    display:none;
}

@media(max-width:1170px){
    .wrapper{
        width:100%;
    }


}

@media(max-width:760px){
    h2{
        font-size:4rem;
    }
}

/*header*/
header{
    display:flex;
    align-items: center;
    height: 150px;
}
header h1{
    font-size:7rem;
}
header h1:hover{
    cursor: pointer;
}
header img{height: 40px;width: 40px;}
header a{padding-left: 30px;font-size: 25px;color: black;}
header a:hover{
    color:#9e9e9e;
}
header ul{
}
header li{float: left;}

@media(max-width:760px){
    header h1{
        font-size: 4rem;
        padding-left: 5px;
    }
    .header_list{
        display: none;
    }
    header a{
        padding-left:10px;
        float:left;
    }
    header img{
        height: 30px;
        width:30px;
    }
}

/*mainVidual*/
.mainVidual img{/* height: ; */width: 100%;max-width: 1920px;height: 800px;object-fit: cover;}

@media(max-width:760px){
    .mainVidual img{
        height:400px;
    }    
}

/*left & right*/
.container{display: flex;flex-wrap:wrap;width: 1170px;}

/*left news*/
.left{
    width: 60%;
    padding: 30px 0px;
}
#news{width: 90%;text-align: center;}
#news a{
    display: flex;
}
#news ul{}
#news li{margin-bottom: 10px;border-top: 1px solid #837c7c;}
#news img{width: 600px;height: 130px;}
#news h3{color: black;}
#news p{width: 90%;text-align: left;color: #8d8d8d;}
.box{
}
.scroll{
    height: 650px;
    overflow-y: scroll;
}
@media(max-width:1170px){
    .container{
        width:100%;
    }
}


@media(max-width:760px){
    .left{
        width:100%;
    }
    .scroll{
        height: 350px;
    }

    #news {
        width:98%;
    }
    #news img{width: 182px;height: 76px;}
    #news h3{color: black;font-size: 15px;}
    #news p{width: 90%;text-align: left;color: #8d8d8d;font-size: 10px;}
}


/*right*/
.right{width: 40%;text-align: center;}

/*about*/
.container_about{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px 0px;
}
#about{}
#about img{height: 150px;width: 150px;}
#about ul{

}
#about li{font-size: 1.5rem;}
#about p{padding: 10px 0px;max-width: 500px;text-align:left;width: 93%;}

/*banner*/
#banner{display: flex;flex-direction: column;}
#banner img{margin-bottom: 10px;width: 90%;height: 80px;}
#banner a{
    border: 1px solid #ab6161;
    padding: 23px 100px;
    margin-bottom: 25px;
    background-color: aquamarine;
    font-size: 20px;
    width: 90%;
}

@media(max-width:760px){
    .right{
        width:100%;
    }
    #about p{
        font-size:12px;
        width:90%;
    }
    
}

/*work*/
.container_work{
    background-color: rgb(255 248 165 / 50%);
    padding: 70px 0px;
}
#work{}
#work ul{display: flex;flex-wrap: wrap;}


@media(max-width:760px){
    #work iframe{
        width:90%;
        height: 180px;
    }
    #work li{
        width: 90%;
    }
    #work p{
        width:90%;
        text-align:left;
    }
}




/*contact*/
.container_contact{
    background-color: rgb(219 255 221 / 50%);
    padding: 30px 0px;
}
#contact{padding: 40px 0px;}
#contact p{
    font-size:12px;
    color: #706f6f;
    max-width: 500px;
    text-align: left;
}
#contact dl{display: flex;flex-wrap: wrap;}
#contact dt{width: 30%;text-align: right;padding: 10px 20px;}
#contact dd{width: 70%;text-align: left;padding: 10px 0px;}
.button{width: 100px;}
input{width: 60%;}
textarea{width: 60%;}


@media(max-width:760px){
    #contact p{
        width:90%;
        padding-bottom: 20px;
    }
    #contact dt{
        width:20%;
        font-size:13px;
        padding:10px 5px 10px 0px;
    }
    #contact dd{
        width:80%;
        font-size:13px;
    }
    input{
        width:90%;
    }
    textarea{
        width:90%;
    }
}

/*footer*/
footer{background-color: #9e9e9e;color: white;text-align: center;}


/*ハンバーガーメニュー↓↓↓↓↓↓↓↓↓↓*/

/*============
nav
=============*/
@media(max-width:760px){
    #navArea{
        display:block;
    }
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    left: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
    nav {
      left: -220px;
      width: 220px;
    }
  }
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 54px;
    right: 24px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }
  /*============
  main
  =============*/

  main h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  /*============
  body
  =============*/
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  


  /*confirm.php*/
  #confirm{width: 90%;max-width: 900px;margin: 70px auto;padding-top: 30px;text-align: center;border: 0.1px solid #403939;background-color: #8bc34a21;}
  #confirm h3{
    font-size: 2rem;
}
  #confirm p{
    font-size: 1.5rem;
}
  #confirm dl{margin: 40px auto 80px auto;}
  #confirm dt{font-size: 30px;border-bottom: 1px solid;width: 90%;max-width: 500px;text-align: left;}
  #confirm dd{
      font-size: 25px;
      margin-bottom: 30px;
      width: 90%;
      max-width: 500px;
      text-align: left;
  }

  @media(max-width:760px){
    #confirm {
        width:98%;
        margin: 20px auto;
    }
    #confirm h3{font-size: 1rem;}
    #confirm p{
        font-size: 0.8rem;
    }
    #confirm dt{
        padding: 5px 5px;
        font-size:12px;
    }
    #confirm dd{
        padding:10px 5px;
        font-size:12px;
        text-align:left;
    }
}
