@charset "UTF-8";
/*全体へのCSS*/
html{
    font-size:100%;
}
*{
    box-sizing:border-box;
    margin: 0px auto;
    padding:0px;
    text-decoration: none;
    list-style: none;
}
body{
    color:#333;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    letter-spacing:0.1em;
}
a{
    color:#333;
    text-decoration:none;
}

li{
    list-style:none;
}


/*一部共通のCSS*/

h2{
    font-size: 5rem;
    margin-bottom: 30px;
    position:relative;
}
h2::after{
    content: "";
    width: 100px;
    height: 3px;
    background-color: #333;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
      
}
.wrapper{
    width: 1170px;
    text-align: center;
}
#navArea{
    display:none;
}

@media(max-width:950px){
    .wrapper{
        width:100%;
    }
}
@media(max-width:760px){
    h2{
        font-size:3rem;
    }
}

/*header*/
#header{
    height: 150px;
    display: flex;
    align-items: center;
}
#header h1{
    font-size:7rem;
}
#header h1:hover{
    cursor: pointer;
    color:#403939;
}
#header img{
    height: 40px;
    width: 40px;}
#header img:hover{
    opacity:0.9;
    transition:0.3s;
    transform:scale(1.2);
}
#header a{
    padding-left: 30px;
    font-size: 25px;
    color: black;}
#header a:hover{
    transition:0.3s;
    color:#9e9e9e;
}
header li{float: left;}


@media(max-width:760px){
    #header h1{
        font-size: 4rem;
        padding-left: 5px;
    }
    .header_list{
        display: none;
    }
    #header a{
        padding-left:10px;
        float:left;
    }
    #header img{
        height: 30px;
        width:30px;
    }
}

/*mainVisual*/
#mainVisual{
    position:relative;
    height:1120px;
    margin-bottom:120px;
}
/*
メインビジュアル
animationを使用して、画像をフェードイン、フェードアウトで切り替えを行う

※画像のフェード切り替えは、CSSアニメーション以外にも
jQueryのプラグインを使う等便利なやり方が色々ありますが、
今回は学習のためにアニメーションを使用しています。
*/
#mainVisual .fade li{
    width: 100%;
    position: absolute;
    top: 0;
    right:0;
    /* 最初は3枚の画像を非表示にしておく */
    opacity: 0;
    /*
    アニメーションを実行
    fade：下で定義している「@keyframes fade」を実行
    15s：「@keyframes fade」の処理を15秒かけて実行
    infinite：アニメーションの処理を無限に繰り返す
    */
    animation:fade 15s infinite;
}
/*
1枚目の画像のアニメーション実行タイミングを設定
「animation-delay: 0s;」ですぐに実行
*/
#mainVisual .fade li:nth-child(1){
  animation-delay:0s;
}
#mainVisual .fade li:nth-child(2){
  animation-delay:5s;
}
#mainVisual .fade li:nth-child(3){
  animation-delay:10s;
}
#mainVisual .fade li::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;
}
#mainVisual .fade img{
  width:100%;
  height:1120px;
  object-fit:cover;
}
@keyframes fade{
    0% {
      opacity:0;
    }
    15%{
      opacity:1;
    }
    30%{
      opacity:1;
    }
    45%{
      opacity:0;
    }
    100%{
      opacity:0;
    }
  }


@media screen and (max-width:760px){
    #mainVisual{
        margin-bottom:40px;
        height:400px;
    }
    #mainVisual .fade img{
        height:400px;
    }
  
}

/*left & right*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 1170px;}

/*left news*/
.left{
    width: 60%;
}
#news{
    width: 90%;
    text-align: center;
}
#news a{
    display: flex;
}
#news li{
    padding-top: 10px;
    border-top: 1px solid #837c7c;
}
#news li:hover{
    opacity:0.9;
    transition:0.3s;
    transform:scale(1.05);
}
#news .news-photo{
    height:110px;
    width:150px;
}
#news img{
    height:110px;
    width:150px;
    object-fit:cover;
}
#news h3{
    color: black;
}
#news p{
    width: 90%;text-align: left;color: #8d8d8d;
}
#news p span{
    float:right;
}
#news .scroll{
    height: 650px;
    overflow-y: scroll;
}


@media(max-width:1170px){
    .container{
        width:100%;
    }
}

@media screen and (max-width:760px){
    .container .left{
        width:100%;
    }
    #news .scroll{
        height: 350px;
    }

    #news {
        width:98%;
        margin-bottom:40px;
    }
    #news img{width: 122px;height: 76px;}
    #news h3{color: black;font-size: 0.6rem;text-align: left;}
    #news p{width: 90%;text-align: left;color: #8d8d8d;font-size: 0.5rem;}
}


/*right*/
.right{
    width: 40%;
    text-align: center;
}

/*about*/
#about{
    margin-bottom:20px;
}
#about img{
    height: 150px;
    width: 150px;
    border-radius:50%;
}
#about .name{
    font-size: 1.5rem;
}
#about .job{
    font-size: 1rem;
}

#about p{
    padding: 10px 0px;
    max-width: 500px;
    text-align:left;
    width: 93%;
}

/*banner*/
#banner{display: flex;flex-direction: column;}
#banner img{margin-bottom: 15px;width: 90%;height: 80px;}
#banner a{
    border: 1px solid #ab6161;
    padding: 23px 100px;
    margin-bottom: 25px;
    background-color: aquamarine;
    font-size: 1rem;
    width: 90%;
}

@media screen and (max-width:760px){
    .right{
        width:100%;
    }
    #about{
        width:100%;
        margin-bottom:40px;
    }
    #about p{
        font-size:0.7rem;
        width:90%;
    }
    #banner img{
        max-width:400px;
    }
    #banner a{
        max-width:400px;
    }
    
}

/*work*/
.container_work{
}
#work{
    margin:120px auto;
}
#work ul{
    display: flex;
    flex-wrap: wrap;
}
#work li{
    margin-bottom:20px;
}
#work iframe{
    width:488px;
    height:363px;
}

@media(max-width:760px){
    #work{
        margin:0 auto 40px auto;
    }
    #work iframe{
        width:90%;
        height: 190px;
    }
    #work li{
        width: 90%;
    }
    #work p{
        width:90%;
        text-align:left;
    }
}




/*contact*/
.container_contact{

}
#contact{
    margin-bottom:60px;
}
#contact .line{
    padding-bottom:60px;
    width:70%;
    position: relative;
    border: solid 3px #706f6f;
}
#contact .line::after{
content: "";
width: 100%;
border-right: solid 2px #706f6f;
border-bottom: solid 2px #706f6f;
padding: 160px 0;
position: absolute;
right: -15px;
bottom: -15px;
z-index:-1;
}

#contact h3{
    font-size:1.3rem;
    color: #706f6f;
  margin-bottom:20px;
}
#contact .btn{
  font-size:2rem;
  font-weight:bold;
  padding:15px;
  background-color:#ff2a2a;
  color:#fff;
  border:3px solid #ff2a2a;
  border-radius:30px;
}
#contact .btn:hover{
  transition:0.5s;
  background-color:#fff;
  color:#ff2a2a;
}


@media(max-width:760px){
    #contact .line{
        padding-bottom: 20px;
        width:90%;
    }
    #contact .btn{
        font-size:1rem;
        padding:8px;
    }
    #contact .line::after{
        padding:100px;
        width:70%;
    }
}

/*footer*/
footer{background-color: #9e9e9e;color: white;text-align: center;}


/*ハンバーガーメニュー↓↓↓↓↓↓↓↓↓↓*/

/*============
nav
=============*/
@media(max-width:760px){
    #navArea{
        display:block;
    }
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    left: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
    nav {
      left: -220px;
      width: 220px;
    }
  }
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 54px;
    right: 24px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }
  /*============
  main
  =============*/

  main h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  /*============
  body
  =============*/
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  


  /*confirm.php*/
  #confirm{width: 90%;max-width: 900px;margin: 70px auto;padding-top: 30px;text-align: center;border: 0.1px solid #403939;background-color: #8bc34a21;}
  #confirm h3{
    font-size: 2rem;
}
  #confirm p{
    font-size: 1.5rem;
}


  @media(max-width:760px){
    #confirm {
        width:98%;
        margin: 20px auto;
    }
    #confirm h3{font-size: 1rem;}
    #confirm p{
        font-size: 0.8rem;
    }

}
